
html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.panel_img {
    width: 100%;
    height: 24%;
    filter:sepia(75%);
}


.tab {
    z-index: 10;
    width: 100%;
    overflow: hidden;
    border-top: 3px solid;
    border-bottom: 3px solid; 
    border-color: darkred;
    /* border-color: lightgray; */
    background-color: red;

}

/* The button is active when the tab is being showed. */
.tab .activee{
    color: floralwhite;
    background-color: crimson; 
    border: 0px solid; 
    /* border-bottom-color: floralwhite; */
}

.button_tab {
    font-family: "Verdana";
    font-size: large;
    text-align: center;
    background-color: red;
    color: gainsboro;
    float: left;
    padding: 15px 20px; /* top, bottom & left,right */
    border: none;
    outline: none;
    transition: 0.3s; 
    cursor: pointer;
    position: relative;
}

/* add element after the button*/
.button_tab:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    border-bottom: 3px solid;
    border-bottom-color: floralwhite;
    transition: 0.8s;
}

.button_tab:hover:after {
    width: 100%;
}


/* add element before the button*/
/* 
.button_tab:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0%;
    border-left: 3px solid;
    border-left-color: floralwhite;
    transition: 0.8s;
}


.button_tab:hover:before {
    height: 50%;
} */

/* display when hover the buttons. */
.button_tab:hover {
    color: floralwhite;
    /* background-color: crimson; */
}


.tabcontent {
    display: none; /* Not display initially. */
    padding: 10 15px;
    /* border: 1px solid; */
    /* border-color: lightgrey; */
}

.tabcontent {
    -webkit-animation: fadeEffect 2s;
    animation: fadeEffect 2s; 
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}


@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Makes the navigation bar stick to the top. */
.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
}

.table {
    width: 100%;
    /* margin: 0px auto; */
    overflow-x: scroll;
    display: block;
    float: none;
}

input {
    /* margin: 0 auto; */
    text-align: : center;
}

/*
.col-centered{
    width: 100%;
    margin: 0 auto;
} */

.table a:hover {
    cursor: pointer;
}


.circle-outline
{    
    display: inline-block; 
    width: 65px;
    height: 65px;
    color: ghostwhite;
    padding: 9px 4px;
    border: 2px solid;
    border-color: white;
    border-radius: 50%;
}

.ft {
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-color: darkred;
    background: red;
    
    /* stick to the bottom. */
    bottom: 0px;
    height: 95px;

    margin-top: 5px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* 
.center-div {
    padding: 10px;
    position: relative;
    margin: 0px auto;
} */

.logo-section {
    height: 100px;
    /* border: 1px solid blue; */

} 
.logo-container {
    padding: 10px;
    /* border: 1px solid white; */
}

.fa-facebook,.fa-youtube, .fa-institution {
    color: white;
}

.ft-mess {
    color: white;
    padding: 30px;
}

.main-content {
    min-height: 60%;
}


/*
.glyphicon.glyphicon-ok-sign {
    font-size: 22px;
} */

/* Styling radio buttons. */

input[type=radio].checkbox {
  display: none;
}

input[type=radio].checkbox + label {
    background: url('../img/uncheck.png') left top no-repeat;
    display: block;
    min-height: 30px;
    padding-left: 35px;
    padding-top: 7px;
   	color: gray;
}


input[type=radio].checkbox:checked + label {
    background: url('../img/check.png') left top no-repeat;
    color: #72C100; 
} 


input[type=radio]:disabled {
	display: none;
}


input[type=radio].checkbox:disabled + label {
	
    /* background: url('../img/cross.png') left top no-repeat; */
    /* display:none; */
    opacity: 0.4;
} 


/*
input[type=radio] {
    background: url('../img/uncheck.png') left top no-repeat;
    display: block;
    min-height: 30px;
    padding-left: 35px;
    padding-top: 7px;
}

input[type=radio]:checked {
	background: url('../img/check.png') left top no-repeat;
} */

/*
.question {
	font-family: "Verdana";
	display: block;
	color: gray;
	font-size: medium;
} */

/* 
form[name='select_activity'] {
	font-family: "Verdana";
	
	padding: 15px;
	border: 1px solid red;
	
	overflow:hidden;
} */

