
body {
    margin: 0;
    padding: 0;
}

.panel_img {
    width: 100%;
    height: 25%;
    filter:sepia(75%);
}


.tab {
    z-index: 10;
    width: 100%;
    overflow: hidden;
    border-top: 3px solid;
    border-bottom: 3px solid; 
    border-color: darkred;
    /* border-color: lightgray; */
    background-color: red;

}

/* The button is active when the tab is being showed. */
.tab .activee{
    color: floralwhite;
    background-color: crimson; 
    border: 0px solid; 
    /* border-bottom-color: floralwhite; */
}

.button_tab {
    font-family: "Verdana";
    font-size: large;
    text-align: center;
    background-color: red;
    color: gainsboro;
    float: left;
    padding: 15px 20px; /* top, bottom & left,right */
    border: none;
    outline: none;
    transition: 0.3s; 
    cursor: pointer;
    position: relative;
}

/* add element after the button*/
.button_tab:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    border-bottom: 3px solid;
    border-bottom-color: floralwhite;
    transition: 0.8s;
}

.button_tab:hover:after {
    width: 100%;
}


/* add element before the button*/
/* 
.button_tab:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0%;
    border-left: 3px solid;
    border-left-color: floralwhite;
    transition: 0.8s;
}


.button_tab:hover:before {
    height: 50%;
} */

/* display when hover the buttons. */
.button_tab:hover {
    color: floralwhite;
    /* background-color: crimson; */
}


.tabcontent {
    display: none; /* Not display initially. */
    padding: 10 15px;
    border: 1px solid;
    border-color: lightgrey;
}

.tabcontent {
    -webkit-animation: fadeEffect 2s;
    animation: fadeEffect 2s; 
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}


@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Makes the navigation bar stick to the top. */
.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
}

table {
    width: 100%;
    overflow-x: scroll;
    display: block;
}

input {
    /* margin: 0 auto; */
    text-align: : center;
}
